@font-face {
    font-family: 'soin_sans_neuemedium';
    src: url('../fonts/soinsansneue-medium-webfont.eot');
    src: url('../fonts/soinsansneue-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/soinsansneue-medium-webfont.woff2') format('woff2'),
         url('../fonts/soinsansneue-medium-webfont.woff') format('woff'),
         url('../fonts/soinsansneue-medium-webfont.ttf') format('truetype'),
         url('../fonts/soinsansneue-medium-webfont.svg#soin_sans_neuemedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'soin_sans_neueroman';
    src: url('../fonts/soinsansneue-roman-webfont.eot');
    src: url('../fonts/soinsansneue-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/soinsansneue-roman-webfont.woff2') format('woff2'),
         url('../fonts/soinsansneue-roman-webfont.woff') format('woff'),
         url('../fonts/soinsansneue-roman-webfont.ttf') format('truetype'),
         url('../fonts/soinsansneue-roman-webfont.svg#soin_sans_neueroman') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'fb';
    src: url('../fonts/fb.otf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
body {
  background: linear-gradient(#ffffff, #b9ffb2);
    background-color: #69a74e;
}
#header {
  width:100%;
  height:100px;
  background: linear-gradient(#67ae55, #578843);
    background-color: #69a74e;
}
  #header .logo {
    font-family: "Lucida Grande", "fb", sans-serif;
    color:white;
    font-size:35px;
    margin-top: 22px;
    display: inline-block;
  }
.inputConnexion {
  border:0 !important;
  display: inline-block;
  width:inherit !important;
  background:white!important;
  height:25px !important;
  margin-left: 5px;
}
.inputInscription {
  border-radius: 3px;
  border:1px solid rgba(0,0,0,.2) !important;
  display: inline-block;
  width:inherit !important;
  background:white!important;
  width:100% !important;
  padding:4px !important;
  height:28px !important;
}
.inputConnexionBtn {
  background:#33691e;
  border:0;
  color:white;
  height:26px !important;
  padding: 2px 5px;
  margin-top:8px;
}
.loginTable {
  margin-top: 10px;
}
.loginTable td{
  border-collapse: collapse;
  margin:0;
  padding:3px;
}
.aveczook {
  display: inline-block;
  margin-top: 50px;
  font-family: "soin_sans_neuemedium", sans-serif;
  font-size: 20px;
}
